<fieldset class="no-border-bottom">
  <div class="field" data-hook="previous_cards">
    <% if previous_cards.any? %>

      <% previous_cards.each do |card| %>
        <label>
          <%= radio_button_tag :card, card.id, card == previous_cards.first %>
          <%= card.display_number %><br />
        </label>
      <% end %>

      <label>
        <%= radio_button_tag :card, 'new', false, { id: "card_new#{payment_method.id}" } %>
        <%= Spree.t(:use_new_cc) %>
      </label>

    <% end %>
  </div>

  <div id="card_form<%= payment_method.id %>" data-hook>
    <div class="clear"></div>
    <%= render partial: 'spree/shared/paymill_card_form', locals: {payment_method: payment_method, name: '', currency: Spree::Config[:currency]} %>
  </div>

  <div class="clear"></div>
</fieldset>