<% if @user.respond_to?(:credit_cards) %>
	<h3>My Cards</h3>

	<% if @user.credit_cards.present? %>
		<table class='order-summary'>

			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Last 4 Digits</th>
					<th>Expiration</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @user.credit_cards.each do |card| %>

					<tr class="<%= cycle('even', 'odd') %>">
						<td><%= card.name %></td>
						<td><%= card.cc_type.titleize %></td>
						<td><%= card.last_digits %></td>
						<td><%= "#{card.month}/#{card.year}" %></td>
						<td><%= link_to "Delete", credit_card_path(card), method: :delete %></td>
					</tr>

				<% end %>
			</tbody>

		</table>
	<% else %>
		<p>You have no stored credit cards.</p>
	<% end %>
<% end %>